<form>
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input is-dark"
            type="text"
            placeholder="Enter movie title.."
            [(ngModel)]="searchQuery.s"
            [ngModelOptions]="{ standalone: true }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="field">
        <div class="control">
          <button
            [routerLink]="['/search']"
            [queryParams]="searchQuery"
            class="button is-fullwidth is-dark"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
