<section class="hero is-white is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <button (click)="goBack()" class="button is-dark mb-5 is-light">
        Back
      </button>

      <section>
        <article class="media">
          <figure class="media-left">
            <p class="image">
              <img *ngIf="movie?.Poster !== 'N/A'" src="{{ movie?.Poster }}" />
              <img
                *ngIf="movie?.Poster === 'N/A'"
                src="https://media.comicbook.com/files/img/default-movie.png"
              />
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <div *ngIf="movie?.Genre !== 'N/A'" class="tags">
                <span
                  *ngFor="let genre of movie?.Genre.split(',')"
                  class="tag is-white is-small"
                >
                  {{ genre }}
                </span>
              </div>
              <p>
                <span class="title is-2">{{ movie?.Title }}</span>
                <br />
                <span *ngIf="movie?.Director !== 'N/A'" class="subtitle is-3">
                  Directed By <strong>{{ movie?.Director }}</strong>
                </span>
                <br />
                <span *ngIf="movie?.Released" class="subtitle is-4">
                  Released on {{ movie?.Released }}
                </span>
                <br />
                <span *ngIf="movie?.Runtime !== 'N/A'" class="subtitle is-6">
                  Runtime: {{ movie?.Runtime }}
                </span>
                <br />
                <span *ngIf="movie?.Awards !== 'N/A'" class="subtitle is-6">
                  {{ movie?.Awards }}
                </span>
              </p>
              <section *ngIf="movie?.Ratings.length > 0" class="mt-4">
                <span class="title is-5">Ratings</span>
                <div class="tags">
                  <span
                    *ngFor="let rating of movie?.Ratings"
                    class="tag is-dark is-small"
                  >
                    {{ rating?.Source }} : {{ rating?.Value }}
                  </span>
                </div>
              </section>
              <section *ngIf="movie?.Actors" class="mt-4">
                <span class="title is-5">Actors</span>
                <div class="tags">
                  <span
                    *ngFor="let actor of movie?.Actors.split(',')"
                    class="tag is-dark is-small"
                    >{{ actor }}</span
                  >
                </div>
              </section>
              <section class="mt-4">
                <span class="title is-5">Plot</span>
                <p>
                  {{ movie?.Plot }}
                </p>
              </section>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>
